@tailwind base;

@layer base {
  html,
  body {
    @apply text-words bg-body box-border overflow-x-hidden;
  }

  a {
    @apply text-primary;
  }

  header {
    @apply font-header p-4 bg-primary text-white flex flex-row flex-wrap w-full;
  }

  main {
    @apply bg-white;
  }

  h1,
  h2,
  h3 {
    @apply font-header font-bold;
  }

  .button {
    @apply text-white rounded-sm;
  }

  .button-success {
    @apply bg-success;
  }

  .button-error {
    @apply bg-error;
  }

  .button-warning {
    @apply bg-warning;
  }

  .button-secondary {
    @apply bg-secondary;
  }
}
@tailwind components;
@tailwind utilities;

p.error {
  color: #8d5d5d;
}

p.success {
  color: #778780;
}

.pure-menu-selected {
  background-color: #eee;
}

.cl-component {
  --clerk-box-shadow: none;
}

.cl-component .cl-auth-form-link {
  display: none !important;
}

.cl-component .cl-auth-form-header {
  display: none !important;
}

.badge-request-Pending {
  @apply badge-ghost;
}

.badge-request-Accepted {
  @apply badge-success;
}

.badge-request-Rejected {
  @apply badge-error;
}
