html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #5e5e5e;
}

a {
  color: #3b3e4f;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

h1, h2, h3 {
  font-family: Assistant, sans-serif;
  font-weight: bold;
}
